@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    font-size: 3rem;
    background-image: linear-gradient(to right, #0075BE, #0C3348);
    padding: 50px;
    font-family: 'Pokemon solid';
    height: 15vh;

}

.pokedoke {
    text-shadow: 10px 10px #0A285F, 0 0 10px #FFFFFF;
    color: #FFCC00;
}

.logo {
    display: flex;
    align-items: center;
}

a:link {
    color: #FB1B1B;
    text-shadow: 3px 3px #FFCC00;
    padding: 60px;
}

a:visited {
    color: #FB1B1B;
    padding: 30px;
}

a:hover {
    background-color: #0A285F;
    padding: 50px;
    border-radius: 20%;
    transition: 200ms;
}