/* @import url('https://fonts.cdnfonts.com/css/pokemon-solid'); */

.Featured-Display{
    /* display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,;
    grid-template-areas: 
    "randPokeName randPokeName randPokeName randPokeName"
    ".feat-img feat-img."
    ".type-display type-display."
    "rand-fact rand-fact rand-fact rand-fact";
    flex-direction: column; */
    background-image: url('../images/pokiecardfrontsmall.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    background-color: yellow;
    font-family: 'Pokemon Solid';
    justify-content: center;
    align-items: center;
    padding: 40px;
    contain: content;
   text-shadow:0 0 2px blue  ;
    width: 400px;
    height: 600px;
    border-radius: 5%;
}
.Featured-img{
grid-area: feat-img;
width: 200px;
height: 200px,
}
.random-fact{
    grid-area: rand-fact;
}
.type-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 30vw;
    justify-self: center;
    grid-area: type-display;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.none{
    display:none;
}
.randomPokemon-name{
    grid-area: randPokeName;
}
.Electric{
    background-color: #E5C531;
    /* border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;; */
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;
}
.Dragon{
    background-color: #6A7BAF;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Ice{
    background-color: #70CBD4;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Fire{
    background-color:#EA7A3C;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Normal{
    background-color:#AAB09F ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Grass{
    background-color:#71C558 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Fighting{
    background-color:#CB5F48 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Water{
    background-color:#539AE2 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Poison{
    background-color:#B468B7 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Ground{
    background-color:#CC9F4F ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Flying{
    background-color:#7DA6DE ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Psychic{
    background-color:#E5709B ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Bug{
    background-color:#94BC4A ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Rock{
    background-color:#B2A061 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Ghost{
    background-color:#846AB6  ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Dark{
    background-color:#736C75 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Steel{
    background-color: #89A1B0 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}
.Fairy{
    background-color:#E397D1 ;
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
}